#headerSection {
    background-color: #ffa366;
    text-align: center;
}

/* #like{
    background-color: blueviolet; */
.col-md-8{
   padding-left: 15%;
}
body{
    background:grey;
}
.col-md-4{
    background: blueviolet;
    height: 100vh;
    margin-left: -100px;
    
}
